@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color1: #ad8d3b;
  --main-color2: #000;
  --main-color3: #daa520;
  --main-color4: #eeeeee;
  --main-color5: #fff;
  --text-color: #fff;
  --text-color-dark: #000;
  --shadow: #00000030;
  --dark-shadow: #00000080;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-tap-highlight-color: #00000000;
}

html {
  scroll-behavior: smooth;
}

.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-shadow);
  backdrop-filter: blur(10px);
}

.hide {
  display: none;
}

.loading img {
  width: 100px;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.login form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: var(--main-color4);
}

input[type="submit"] {
  background-color: var(--main-color1);
  color: var(--main-color5);
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.cancel input[type="submit"] {
  background-color: red;
}

input[type="submit"]:hover {
  background-color: var(--main-color2);
  scale: 98%;
}

input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}

form h2 {
  text-align: center;
}

.mobile_area {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.hero {
  width: 100%;
  height: 265px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--main-color1);
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.notifications {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.notifications i {
  color: var(--main-color1);
  padding: 10px 11px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--main-color5);
  box-shadow: 0 0 10px var(--main-color5);
}

.logo {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo div img {
  width: 120px;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--main-color2);
}

.quick_buttons {
  width: 90%;
  margin: auto;
  background-color: var(--main-color5);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 0 10px var(--shadow);
}

.quick_buttons div {
  width: 100%;
  position: relative;
}

.quick_buttons div button {
  padding: 10px;
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--main-color2);
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.quick_buttons div button a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.quick_buttons div button:hover {
  background-color: var(--main-color1);
  scale: 95%;
}

.notifications .noti {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 8px;
  left: 35px;
  z-index: 1;
  background-color: red;
}

.quick_buttons div .noti {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  z-index: 1;
  background-color: red;
}

.website-contolers {
  text-align: center;
  margin-top: 70px;
  padding: 10px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px 0;
  box-sizing: border-box;
}

.buttons div {
  width: 100%;
}

.buttons div button {
  padding: 10px;
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--main-color1);
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.buttons div button a {
  color: var(--text-color-dark);
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.buttons div button:hover {
  background-color: var(--main-color2);
  color: var(--text-color);
}

.buttons div button:hover a {
  color: var(--text-color);
}

.mobile_area nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--main-color1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_area nav .back {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2px;
  padding-left: 5px;
  box-sizing: border-box;
}

.mobile_area nav .back a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.mobile_area nav .back i {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.notifi_area {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  width: 92%;
  height: calc(100vh - 5%);
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close i {
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
}

.close i:hover {
  rotate: -360deg;
  scale: 120%;
}

#notification {
  top: 50px;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: calc(100% - 52px);
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#notification a {
  text-decoration: none;
}

#notification a .msg {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  border-bottom: 1px solid var(--shadow);
  border-radius: 10px;
  transition: 0.3s;
}

#notification a .msg .img i {
  width: 55px;
  height: 55px;
  color: var(--main-color2);
  background-color: var(--main-color3);
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--main-color2);
}

#notification a .msg .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#notification a .msg .title_up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: var(--text-color-dark);
}

#notification a .msg .title_up .sub h4 {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#notification a .msg .title_down {
  width: 100%;
}

#notification a .msg .title_down p {
  width: 100%;
  max-height: 35px;
  overflow: hidden;
  font-size: 12px;
  color: gray;
}

#notification a:hover .msg {
  background-color: #d3d3d350;
  scale: 101%;
  box-shadow: 0 5px 5px var(--shadow);
  margin-bottom: 10px;
}

@media only screen and (max-width: 550px) {
  #notification a .msg .title_up .sub h4 {
    width: 250px;
  }
}
@media only screen and (max-width: 500px) {
  #notification a .msg .title_up .sub h4 {
    width: 210px;
  }
}
@media only screen and (max-width: 450px) {
  #notification a .msg .title_up .sub h4 {
    width: 170px;
  }
}
@media only screen and (max-width: 400px) {
  #notification a .msg .title_up .sub h4 {
    width: 130px;
  }
}
@media only screen and (max-width: 344px) {
  #notification a .msg .title_up .sub h4 {
    width: 120px;
  }
}

.ad-form {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.double {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.double p input {
  width: 100%;
}

.editbox_area {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: var(--shadow);
  padding: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  justify-content: center;
}

.editbox {
  width: 100%;
  max-width: 450px;
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--main-color5);
  box-shadow: 0 0 20px var(--shadow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.editbox div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.editbox div p {
  position: relative;
  height: 35px;
}

.editbox div a {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  background-color: var(--main-color1);
  font-weight: bold;
  border-radius: 5px;
  color: var(--text-color-dark);
  transition: 0.3s;
}

.editbox div a:hover {
  scale: 105%;
  box-shadow: 0 10px 10px var(--shadow);
  color: var(--text-color);
}

.update_message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow);
}

.update_message_box {
  width: 85%;
  max-width: 450px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--main-color5);
  border-radius: 10px;
  box-shadow: 0 10px 10px var(--shadow);
  text-align: center;
}

.update_message_box i {
  font-size: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.update_message_box .done i {
  border: 2px solid green;
}

.update_message_box a {
  text-decoration: none;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: var(--main-color1);
  color: var(--text-color);
  border-radius: 5px;
  font-weight: bold;
}

#notification .order_details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fleet {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.fleet p {
  width: 100%;
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.fleet p a {
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 1px solid lightgray;
  color: var(--text-color-dark);
  transition: 0.3s;
}

.fleet p a:hover {
  scale: 102%;
  background-color: var(--shadow);
}

.fleet_view,
.rate_view {
  display: none;
  width: 100%;
  height: calc(100vh - 180px);
  overflow: hidden;
  overflow-y: scroll;
  padding: 15px;
  box-sizing: border-box;
}

.rate_view {
  flex-direction: column;
  gap: 20px;
}

.rate_list {
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 5px;
}

.rate_list .rare_details {
  padding: 10px;
  box-sizing: border-box;
}

.rate_list .rare_details p {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.rate_list img {
  width: 100%;
}

.fleet_view p {
  margin-bottom: 15px;
}

.fleet_list,
.rate_list_aling {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.fleet_list_aling {
  box-shadow: 0 0 10px var(--shadow);
}

.fleet_list_aling .details {
  padding: 10px;
  box-sizing: border-box;
}

.fleet_list_aling .details .links,
.rate_list .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.fleet_list_aling .details .links a,
.rate_list .links a {
  width: 100%;
  padding: 5px 15px;
  background-color: var(--main-color1);
  color: var(--text-color-dark);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.fleet_list_aling .details .links a:hover,
.rate_list .links a:hover {
  background-color: var(--main-color2);
  scale: 102%;
  box-shadow: 0 0 10px var(--shadow);
  color: var(--text-color);
}

.fleet_list_aling .img img {
  width: 100%;
}

.edit_fleet {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
}

.edit_fleet form {
  width: 100%;
  max-width: 600px;
  background-color: var(--main-color5);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.justify {
  text-align: justify;
}

.reply {
  width: 100%;
  height: 50px;
}

.reply p {
  position: relative;
  width: 100%;
  height: 50px;
}

.reply p a {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  background-color: var(--main-color1);
  padding: 10px;
  box-sizing: border-box;
  color: var(--text-color-dark);
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.reply p a:hover {
  scale: 98%;
  box-shadow: 0 10px 10px var(--shadow);
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: var(--main-color4);
}

.reply_section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  padding: 10px;
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: center;
}

.reply_section form {
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: var(--main-color5);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 15px var(--shadow);
}

.edit_section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_section form {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--main-color5);
  box-shadow: 0 0 50px var(--shadow);
}

input:disabled,
input:disabled:hover {
  background-color: #f0f0f0; /* Light gray background */
  color: #999; /* Gray text color */
  border: 1px solid #ccc; /* Light gray border */
  cursor: not-allowed; /* Change cursor to indicate the input is disabled */
  scale: 100%;
}

.edit_id {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  padding: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.edit_id form {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--main-color5);
  border-radius: 5px;
  box-shadow: 0 0 20px var(--shadow);
}

.edit_tours {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.edit_tours form {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--main-color5);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--shadow);
}

.change_pw {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--shadow);
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.change_pw form {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--main-color5);
  box-shadow: 0 0 20px var(--shadow);
}
